@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form action="/CadastroUsuario/Inserir" method="post">
            Nome: <input type="text" name="Nome"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <div>
        <a href="/CadastroUsuario/TodosAscendente">Consultar Todos (Ascendente)</a>
    </div>
    <div>
        <a href="/CadastroUsuario/TodosDescendente">Consultar Todos (Descendente)</a>
    </div>
    <div>
        <a href="/CadastroUsuario/TodosEFAscendente">Consultar Todos (EF Ascendente)</a>
    </div>
    <div>
        <a href="/CadastroUsuario/TodosEFDescendente">Consultar Todos (EF Descendente)</a>
    </div>
</body>
</html>
